<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo Config('sys_info')['sys_company']; ?> - 外贸管理系统</title>
<script src="/tms/js/all.js" language="javascript"></script>
</head>
<body>
<h1>历史记录管理</h1>
<div class="mypanel">
    <div class="mypanel-heading">
	    <div class="mypanel-lead"><em>历史记录管理</em>可以在此删除历史记录</div>
    </div>
    <div class="mypanel-body">
        <div id="toolbar" class="toolbar">
        	<div class="pull-right">
            	<?php if($queststring!=""){?>
            	<a href="/tms/index.php/tms_setting/history/del/?<?php echo $queststring; ?>" class="btn-del" title="删除搜索出来的记录" >删除搜索出来的记录</a>
                <?php }?>
            </div>
            <div class="pull-left">
            <form name="form1" action="?" method="post">
            	<table border="0">
                <tr>
                  <td height="26" align="center">时间</td>
                  <td align="center"><input name="makedate1" type="text" id="makedate1" class="easyui-datebox" value="<?php echo input('makedate1', '')?>" size="13"></td>
                  <td align="center">&nbsp;到&nbsp;</td>
                  <td align="center"><input name="makedate2" type="text" id="makedate2" class="easyui-datebox" value="<?php echo input('makedate2', '')?>" size="13"></td>
                  <td align="center"><?php echo showselect('makename',input('makename', ''),$userarray,"操作人",'');?></td>
                  <td><?php echo showselect('operation',input('operation', ''),sysinfo('history_operation'),"操作类型",'');?></td>
                   <td><?php echo showselect('operation2',input('operation2', ''),sysinfo('history_table'),"操作单据",'');?></td>
                  <td align="center">关键词</td>
                  <td align="center"><input name="keyword" type="text" id="keyword" value="<?php echo input('keyword', '')?>" size="10"></td>
                  <td align="center"><input name="Submit" type="submit" class="searchbuttom" id="Submit" value="搜索"></td>
                </tr>
              </tbody></table>
              </form>
            </div>
        </div>
            <table id="mytable" class="mytable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>登录名</th>
                    <th>IP地址 </th>
                    <th>操作时间</th>
                    <th>操作说明</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {foreach name="list" item="v" key="k"}
            <tr>
            <td><?php echo $k+1; ?></td>
            <td><?php echo $v['username']; ?></td>
            <td><?php echo $v['ip']; ?></td>
            <td><?php echo $v['time']; ?></td>
            <td><?php echo $v['operation']; ?></td>
            <td>
                <a href="/tms/index.php/tms_setting/history/del?id=<?php echo $v['id']; ?>">删除</a>
            </td>
            </tr>
            {/foreach}
            </tbody>
            </table>
            <div class="table-pagination" style="display: block;">
          	<div class="pull-right"><?php echo $page; ?></div>
                <div class="pull-left pagination-detail">
                    总共 <?php echo $total; ?> 条记录，<?php echo $pagesize; ?>条 / 页，页数 <?php echo $pagenow; ?> / <?php echo $totalPage; ?>
                   </span>
                </div>
            </div>
    </div>
</div>
</body>
</html>