<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Deepsea后台管理系统</title>
    <link rel="stylesheet" href="/style/layui/css/layui.css">
    <link rel="stylesheet" href="/style/main.css">
</head>
<body class="layui-layout-body bgbody" >
<div class="">
    <div class="loginbrand">
        <div class="loginbrand_img">
            <img src="/images/admin/loginbrand.png" alt="">
        </div>
    </div>
    <div class="login_outside">
        <div class="login_inside">
            <form class="layui-form" action="">
                <div class="layui-form-item login_insideA">
                    <!--<label class="layui-form-label">输入框</label>-->
                    <div class="login_input">
                        <input type="text" name="username" required  lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item login_insideB">
                    <!--<label class="layui-form-label">密码框</label>-->
                    <div class="login_input">
                        <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux"><!--辅助文字--></div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="/style/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>