<div class="layui-side layui-bg-black layui-bg-black-updata">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed layui-this">
                <a class="" href="/index.php/cms/index/index">用户反馈及回复</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">用户管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="userinfo/index">列表展示</a></dd>
                    <dd><a href="javascript:;">图表展示</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">消息推送</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">列表一</a></dd>
                    <dd><a href="javascript:;">列表二</a></dd>
                    <dd><a href="">超链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">APP主页配置</a></li>
            <li class="layui-nav-item"><a href="">账号管理</a></li>
        </ul>
    </div>
</div>