<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><?php echo Config('sys_info')['sys_company']; ?> - 外贸管理系统</title>
    <script src="/tms/js/all.js" language="javascript"></script>
</head>
<body>
<h1>新增Proforma Invoice</h1>
<div class="mypanel">
    <div class="mypanel-heading">
        <div class="mypanel-lead"><em>新增Proforma Invoice</em>可以在此制作PI</div>
    </div>
    <?php //mydump($v)?>
    <div class="mypanel-body">
        <div id="toolbar" class="toolbar">
            <div class="pull-right">
                <input class="bigbtn" name="Reset2" type="button" id="Reset2" value="返回列表" onClick="if(confirm('返回后您在此表单输入的所有数据都将丢失！确定要返回吗？')){gourl('../index.html');}" />
            </div>
            <div class="pull-left">
                <input type="hidden" id="quotationid" /><input type="hidden" id="quotationname" />
                <input class="bigbtn" name="Reset1" type="button" id="Reset2" value="导入单据" onclick="SelectID('quotation','',function(){gourl('/tms/index.php/tms_business/quotation/edit/?action=import&id='+$('#quotationid').val());})" />
            </div>
        </div>
        <form name="form1" id="form1" method="post" action="?action=add&no=<?php echo $no; ?>">
            <input type="hidden" name="type" id="type" value="<?php echo $v['type']; ?>" />
            <table width="100%"  border="0" align="center" cellpadding="3" cellspacing="1" class="maintable" id="maintable">
                <tbody>
                <tr>
                    <td colspan="1" class="tdright">单据语种：&nbsp;</td>
                    <td colspan="1" >
                        <input name="language" type="radio" onclick=form1.action="?action=selectlanguage&no=<?php echo $no; ?>";form1.submit();  type="checkbox" id="language_en" value="en"  <?php if($v["language"]=='en')echo "checked=checked" ?> class="checkbox_center">  English
                        &nbsp;&nbsp;<input type="radio" name="language" onclick=form1.action="?action=selectlanguage&no=<?php echo $no; ?>";form1.submit(); type="checkbox" id="language_cn" value="cn"  <?php if($v["language"]=='cn')echo "checked=checked" ?> class="checkbox_center">  中文
                    </td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td width="160" class="tdright">客户编号：</td>
                    <td width="600">
                        <input name="customids" type="text" class="input50" readonly id="customids" value="<?php echo $v['customid']; ?>">
                        <input name="customid" type="hidden" id="customid" value="<?php echo $v['customid']; ?>" />
                        <input name="rate" type="hidden" id="rate" value="<?php echo $v['rate']; ?>" />
                        <a href="javascript:void(0)" onclick='SelectID("custom","",function(){form1.action="?action=selectcustom&no=<?php echo $no; ?>";form1.submit();})'>选择客户</a>
                        <font color="red">*</font>
                    </td>
                    <td width="160"  class="tdright">单号：</td>
                    <td>
                        <?php echo showtableno("pi",$v['qno'],0,$v['rno']) ?>
                        <input type="hidden" name="qno" id="qno" value="<?php echo $v['qno']; ?>" />
                        <input type="hidden" name="allno" id="allno" value="<?php echo $v['allno']; ?>" />
                        <input type="hidden" name="rno" id="rno" value="<?php echo $v['rno']; ?>" />
                    </td>
                </tr>
                <tr>
                    <td class="tdright">客户名称：</td>
                    <td><input name="customname" type="text" class="input80" id="customname" value="<?php echo $v['customname']; ?>" /></td>
                    <td class="tdright">日期：</td>
                    <td><input name="makedate" type="hidden" class="input80" id="makedate" value="<?php echo $v['makedate']; ?>" /><?php echo $v['makedate']; ?></td>
                </tr>
                <tr>
                    <td class="tdright">客户地址：</td>
                    <td>
                        <textarea name="customaddress" class="autoTextarea input80" id="customaddress"><?php echo $v['customaddress']; ?></textarea>
                    </td>
                    <td class="tdright">制单人：</td>
                    <td>
                        <input name="makename" type="hidden" id="makename" value="<?php echo $v['makename']; ?>" /><?php echo $v['makename']; ?>
                   </td>
                </tr>
                <tr>
                    <td class="tdright">联系人：</td>
                    <td><input name="contact" type="text" class="input80" id="contact" value="<?php echo $v['contact']; ?>" ></td>
                    <td class="tdright">客户单号：</td>
                    <td><input name="custompo" type="text" class="input80" id="customorder" value="<?php echo $v['custompo']; ?>" /></td>
                </tr>
                <tr>
                    <td class="tdright">电话：</td>
                    <td><input name="phone" type="text" class="input80" id="phone" value="<?php echo $v['phone']; ?>" /></td>
                    <td class="tdright">传真：</td>
                    <td><input name="fax" type="text" class="input80" id="fax" value="<?php echo $v['fax']; ?>" /></td>
                </tr>
                <tr>
                    <td class="tdright">邮箱：</td>
                    <td><input name="email" type="text" class="input80" id="email" value="<?php echo $v['email']; ?>" /></td>
                    <td class="tdright">来源：</td>
                    <td><?php echo showselect('source',$v['source'],$clientsourcearray,"请选择来源",'');?></td>
                </tr>
                <tr>
                    <td class="tdright">货币类型：</td>
                    <td><?php echo showselect('currencys',$v['currencys'],$currencysarray,"",'');?></td>
                    <td class="tdright">价格条款：</td>
                    <td><?php echo showselect('priceterm',$v['priceterm'],$pricetermarray,"",'0');?></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table width="100%"  border="0" align="center" cellpadding="3" cellspacing="1">
                            <tr>
                                <td align="center">序号</td>
                                <td width="160" align="center">图片</td>
                                <td align="center">产品描述</td>
                                <td width="160" align="center">数量</td>
                                <td width="160" align="center">单价</td>
                                <td width="160" align="center">合计金额</td>
                                <td width="100" align="center">操作选项</td>
                            </tr>
                            <?php
                                	//var_dump($listitem);exit(0);
                                        $amount=0;
                                    if($v['productorderid']=="")$v['productorderid']=count($listitem)+1;
                                	foreach($listitem as $k=>$item)
                                    {
                                            $amount += $item['price']*$item['num'];

                            ?>
                            <tr>
                                <td width="80" align="center"><?php echo $item['productorderid']; ?></td>
                                <td align="center">
                                    <?php if($item['product']=='') { ?>
                                    其他费用
                                    <?php } else { ?>
                                    <img class="sheet_picture" src="<?php if($item['picture']==''){echo '\\tms\\upfiles\\nopicture.jpg';}else{echo $item['picture'];}?>" />
                                    <?php } ?>
                                </td>
                                <td>
                                    <?php if($item['productname']!=""){ ?><div class="sheetitemtitle"><?php echo $item['productname']; ?></div><?php } ?>
                                    <?php if($item['isbasic']!=""){ ?>Item NO:<?php echo $item['product']; ?><?php } ?>
                                    <script>
                                        var pdtext<?php echo $item['id']; ?>='<?php echo strtojs($item["productinfo"]); ?>';
                                        var pd<?php echo $item['id']; ?>=new JDetion("pd<?php echo $item['id']; ?>","productinfo",false,pdtext<?php echo $item['id']; ?>);
                                        pd<?php echo $item['id']; ?>.Show();
                                    </script>
                                </td>
                                <td align="center">

                                    <div class="itemnum"><?php echo str3x($item['num'])." ".$item['unit']; ?></div>

                                </td>
                                <td align="center">

                                    <div class="itemnum"><?php echo $v['currencys']." ".strtocurr($item['price']); ?></div>

                                </td>
                                <td align="center">

                                    <div class="itemnum"><?php echo $v['currencys']." ".strtocurr($item['price']*$item['num']); ?></div>

                                </td>
                                <td align="center">
                                    <a href="javascript:sheet_edit(<?php echo $item['id']; ?>);">修改</a>
                                    <a href="javascript:sheet_del(<?php echo $item['id']; ?>);">删除</a>
                                </td>
                            </tr>
                            <?php
                                	}
                                ?>
                            <tr>
                                <td align="center"></td>
                                <td align="center"></td>
                                <td align="center">Total:</td>
                                <td align="center"></td>
                                <td align="center"></td>
                                <td align="center">
                                    总金额:&nbsp;&nbsp;<?php echo $v['currencys'].strtocurr($amount);?>
                                    <input type="hidden" name="amount" value="<?php echo $amount;?>">
                                </td>
                                <td align="center"></td>

                            </tr>
                            <tr>
                                <td align="center"><input name="productorderid" type="text" id="productorderid" style="width:30px; text-align:center;" value="<?php echo $v['productorderid']; ?>" /></td>
                                <td align="center">
                                    <?php if($v['productid']!=""){ ?>
                                    <div id="selpic">
                                        <input name="picture" id="picture" type="hidden" value="<?php echo $v['picture']; ?>">
                                        <img class="sheet_picture" id="pic1" src="<?php if($v['picture']==''){echo '\\tms\\upfiles\\nopicture.jpg';}else{echo $v['picture'];}?>" />
                                        <br><a href='javascript:SelectID("picture","ptype=Quotation&input=picture&img=pic1",function(){})'>更换图片</a>
                                        <br><a href='javascript:$("#picture").val("");$("#pic1").attr("src","\\tms\\upfiles\\nopicture.jpg");'>清除图片</a>
                                    </div>
                                    <?php } ?>
                                </td>
                                <td>
                                    <div>
                                        <label for="other_pd"><input name="other_pd" id="other_pd" type="checkbox"  onclick="setdiv(this);" value="1" <?php if($v['other_pd']=="1")echo " checked" ?> /> 其他费用</span></label>
                                    </div>
                                    <div id="pdiv" <?php if($v['other_pd']=="1")echo "class='hidden'"; ?>>
                                    <table border="0" cellpadding="1" cellspacing="0">
                                        <tr>
                                            <td>
                                                <input name="itemid" type="hidden" value="<?php echo $v['itemid']; ?>" />
                                                <input name="productid" type="hidden" id="productid" value="<?php echo $v['productid']; ?>" />
                                                <input name="productname" type="text" id="productname" value="<?php echo $v['productname']; ?>" size="34" />
                                                <span id="ppiddiv"<?php if($v['isbasic']!="1")echo " class='hidden'"; ?>><input name="pppid" id="pppid" type="text" value="<?php echo $v['productid']; ?>" size="6" readonly /></span>
                                                <label for="isbasic">
                                                    <input name="isbasic" type="checkbox" id="isbasic" value="1"  <?php if($v['isbasic']==1){ ?> checked="checked" <?php } ?> onClick="setpno(this);" /> 标准产品
                                                </label>
                                                <a href="javascript:void(0);" style="display:;"
                                                   onclick='SelectID("product","",function(){form1.action="?action=selectproduct&no=<?php echo $no; ?>";form1.submit();})'>
                                                    <img src="/TMS/images/bo_product.gif" border="0" style="vertical-align:-25%;*vertical-align:-10%;" />
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input name="productinfo" id="productinfo" type="hidden"  value="<?php echo $v['productinfo']; ?>" />
                                                <div class="pdetion_edit" id="pdetion_edit_pd1" onclick="ShowEdit(pd1);">
                                                    <script>
                                                        var pdtext='<?php echo strtojs($v["productinfo"]); ?>';
                                                        var pd1=new JDetion("pd1","productinfo",false,pdtext);
                                                        pd1.Show();
                                                    </script>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
    </div>
    <div id="podiv" <?php if($v['other_pd']!=1)echo "class='hidden'"; ?>>
    <textarea name="productinfo2" id="productinfo2"><?php echo $v['productinfo']; ?></textarea>
</div>
</td>
<td colspan="2" align="center" >
    <table width="100%" border="0" cellpadding="3" cellspacing="1" id="quotationprice" data-currencys="<?php echo $v['currencys']; ?>">
        <tr>
            <td>
                <input name="num" id="num" type="text" value="<?php echo $v['num']; ?>" size="4" />
                <?php echo showselect('unit',$v['unit'],sysinfo('sys_units'),"",'');?>
            </td>
            <td>
                <input type="hidden" name="pricelist" id="pricelist" value="" />
                <span class="currencys"><?php echo $v['currencys']; ?></span> <input name="price" id="price" type="text" value="<?php echo $v['price']; ?>" size="4" />
            </td>
            <td>
                <!--<input name="priceid" id="priceid" type="hidden" value="<?php echo $v['pricelist'];?>" />-->
                <!--<span class="select Tip" title="选择价格" id="selectprices" onclick='SelectID("price","pno=<?php echo $v['productid']; ?>&priceterm=<?php echo $v['priceterm']; ?>",function(){addpricelist($("#priceid").val());})'></span>
                <span  class="add Tip hidden" title="添加" onclick="if($('#other_pd').prop('checked')!=true)addprice('','');"></span>-->
            </td>

        </tr>


    </table>
</td>
<td align="center">
    <span class="currencys"><?php echo $v['currencys']; ?></span> <input name="count" type="text" readonly="" id="count" value="" size="4">
</td>

<td align="center">
    <input class="bigbtn" name="add" type="button" id="add" value="提交项目" onclick='if(checkproduct()==true){form1.action="?action=add&no=<?php echo $no; ?>";form1.submit();return false;}' />
</td>
</tr>
</table>

</td>
</tr>
<tr>
    <td class="tdright">Product Category </td>
    <td colspan="3">
        <?php echo showselect('classid',$v['classid'],$productclassarray,"所属产品分类",'0');?>
    </td>
</tr>
<tr style="height:60px;">
    <td class="tdright">付款方式<br/>Payment</td>
    <td colspan="3"><?php echo showselect('payment',$v['payment'],$paymentarray,"",'0');?></td>
</tr>
<tr>
    <td class="tdright">确认样<br/>Approval Sample :</td>
    <td colspan="3"><textarea name="confirmation" id="confirmation" class="width98"><?php echo $v['confirmation']; ?></textarea></td>
</tr>
<tr style="border: 3px solid #E3E3E9;">
    <td class="tdright">银行<br/>Banker :</td>
    <td colspan="3">
        <!--<?php /*echo showselect('bank',$v['bank'],$bankarray,"",'0');*/?>-->
        <?php echo showselect('bankinfo',input('bankinfo', ''),$bankarray,"",'');?> <br>
        信保单号：
        <textarea name="ciremark" id="ciremark" class="width98"><?php echo $v['ciremark']; ?></textarea>
    </td>
</tr>
<tr>
    <td class="tdright">交货日期<br/>Delivery :</td>
    <td colspan="3"><textarea name="delivery" id="delivery" class="width98"><?php echo $v['delivery']; ?></textarea></td>
</tr>

<tr>
    <td class="tdright">收货地址<br/>Delivery Address :</td>
    <td colspan="3"><textarea name="deliveryaddr" id="deliveryaddr" class="width98"><?php echo $v['deliveryaddr']; ?></textarea></td>
</tr>
<tr>
    <td class="tdright">装运<br/>Shipment :</td>
    <td colspan="3"><textarea name="address" id="address" class="width98"><?php echo $v['address']; ?></textarea></td>
</tr>
<tr>
    <td class="tdright">其他备注<br/>Remark :</td>
    <td colspan="3"><textarea name="content"id="content" class="width98"><?php echo $v['content']; ?></textarea></td>
</tr>
<tr style="border:3px solid #E3E3E9;">
    <td class="tdright">纸箱/装运标记<br/>Carton/Shipping Marks:</td>
    <td><textarea name="mark"id="mark" style="width: 600px; margin: 0px; height: 178px;"><?php echo $v['mark']; ?></textarea></td>
    <td>
        <input name="markpicture" id="markpicture" type="hidden" value="<?php echo $v['markpicture']; ?>">
        <img class="sheet_picture" id="markpic" src="<?php if($v['markpicture']==''){echo '\\tms\\upfiles\\nopicture.jpg';}else{echo $v['markpicture'];}?>" />
        <br><a href='javascript:SelectID("picture","ptype=pi&input=markpicture&img=markpic",function(){})'>选择图片</a>
        <br><a href='javascript:$("#markpicture").val("");$("#markpic").attr("src","\\tms\\upfiles\\nopicture.jpg");'>清除图片</a>
    <td/>
</tr>
<tr><td><br></td></tr>
<tr style="border: 3px solid #E3E3E9;">
    <td class="tdright">内箱上有装运标记<br/>SHIPING MARK ON INNER BOX :</td>
    <td ><textarea name="boxplants"id="boxplants" style="width: 600px; margin: 0px; height: 178px;"><?php echo $v['boxplants']; ?></textarea></td>
    <td>
        <input name="boxplantspicture" id="boxplantspicture" type="hidden" value="<?php echo $v['boxplantspicture']; ?>">
        <img class="sheet_picture" id="boxplantspic" src="<?php if($v['boxplantspicture']==''){echo '\\tms\\upfiles\\nopicture.jpg';}else{echo $v['boxplantspicture'];}?>" />
        <br><a href='javascript:SelectID("picture","ptype=pi&input=boxplantspicture&img=boxplantspic",function(){})'>选择图片</a>
        <br><a href='javascript:$("#boxplantspicture").val("");$("#boxplantspic").attr("src","\\tms\\upfiles\\nopicture.jpg");'>清除图片</a>
    <td/>
</tr>
<tr><td><br></td></tr>
<tr style="border: 3px solid #E3E3E9;">
    <td class="tdright">侧唛<br/>Side Marks :</td>
    <td ><textarea name="side" id="side" style="width: 600px; margin: 0px; height: 178px;"><?php echo $v['side']; ?></textarea></td>
    <td >
        <input name="sidepicture" id="sidepicture" type="hidden" value="<?php echo $v['sidepicture']; ?>">
        <img class="sheet_picture" id="sidepic" src="<?php if($v['sidepicture']==''){echo '\\tms\\upfiles\\nopicture.jpg';}else{echo $v['sidepicture'];}?>" />
        <br><a href='javascript:SelectID("picture","ptype=pi&input=sidepicture&img=sidepic",function(){})'>选择图片</a>
        <br><a href='javascript:$("#sidepicture").val("");$("#sidepic").attr("src","\\tms\\upfiles\\nopicture.jpg");'>清除图片</a>
    <td/>

</tr>


<tr>
    <td colspan="4" style="height:60px; text-align:center">
        <input class="bigbtn" name="btnsubmit" type="button" value="提交单据" onClick="checkform(0);"  />
        <input class="bigbtn" name="rsubmit" type="button" value="开立R版本" onClick="checkform(1);" <?php if($v['type']!='edit')echo " disabled"; ?>  />
        <input class="bigbtn" name="return" type="button" value="返回列表" onClick="gourl('../index.html');" />
    </td>
</tr>
</tbody>
</table>
</form>
</div>
</div>
<script>
    var pd_edit;
    function ShowEdit(pdobj)
    {
        var html="<div class='pdetion_edit_div' id='pdetion_edit_div'><div class='pdetion_edit_close' title='关闭' onclick='HideEdit("+pdobj.InstanceName+");'></div>";
        //alert("v:"+$("#productinfo").val());
        pd_edit=new JDetion("pd_edit",pdobj.InputName,true,$("#"+pdobj.InputName).val());
        html+=pd_edit.GetHtml();
        html+="</div>";
        $(document.body).append(html);
        pd_edit.Update();
        $("#pdetion_edit_div").css("left",$("#pdetion_edit_"+pdobj.InstanceName).offset().left);
        $("#pdetion_edit_div").css("top",$("#pdetion_edit_"+pdobj.InstanceName).offset().top);
    }

    function HideEdit(pdobj)
    {
        $("#pdetion_edit_div").remove();
        pdobj.json=pd_edit.json;
        pdobj.IsJson=pd_edit.IsJson;
        if(pdobj.IsJson)
        {
            pdobj.json=eval($("#"+pdobj.InputName).val());
        }
        else
        {
            pdobj.Value=$("#"+pdobj.InputName).val();
            //alert(pdobj.value);
        }
        pdobj.Update();
    }

    $("#currencys").on('change',function(){
        $(".currencys").html($("#currencys").val());
        $("#quotationprice").attr("data-currencys",$("#currencys").val());
    });

    $("#unit").on('change',function(){
        $(".unit").html($("#unit").val());
    });

    function setdiv(obj)
    {
        if($(obj).prop('checked')==true)
        {
            $("#pdiv").addClass("hidden");
            $("#selpic").addClass("hidden");
            $("#podiv").removeClass("hidden");
            $(".addprice").remove();
        }
        else
        {
            $("#pdiv").removeClass("hidden");
            $("#selpic").removeClass("hidden");
            $("#podiv").addClass("hidden");
        }
    }

    function setpno(obj)
    {
        if($(obj).prop('checked')!=true)
        {
            $("#ppiddiv").addClass("hidden");
        }
        else
        {
            $("#ppiddiv").removeClass("hidden");
        }
    }

    function checkproduct()
    {
        if($("#other_pd").prop('checked')!=true)
        {
            if($("#productid").val()==""){alert("请先选择产品！");return false;}
            if($("#productinfo").val()==""){alert("请输入项目内容！");return false;}
        }
        else
        {
            if($("#productinfo2").val()==""){alert("请输入项目内容！");return false;}
        }
        var num=$("#num").val();
        var price=$("#price").val();
        if(num==""||price==""){alert("请输入数量以及价格！");return false;}
        var numprice=num+","+price;

        var numlist=$(".numlist");
        var pricelist=$(".pricelist");
        for(var i=0;i<numlist.length;i++)
        {
            if(($(numlist[i]).val()==""&&$(pricelist[i]).val()!="")||($(numlist[i]).val()!=""&&$(pricelist[i]).val()==""))
            {
                alert("请输入正确的数量以及价格，不能单独输入数量或价格！");return false;
            }
            else
            {
                numprice += "|" + $(numlist[i]).val()+","+$(pricelist[i]).val();
            }
        }
        $("#numprice").val(numprice);
        return true;
    }

    function checkform(ntype)
    {
        if($("#customid").val()==""){alert("您还未选择客户！");return false;}
        if($("#other_pd").prop('checked')!=true)
        {
            if($("#productid").val()!=""){alert("您还有项目未完成，请先完成项目再提交！");return false;}
            if($("#productinfo").val()!=""){alert("您还有项目未完成，请先完成项目再提交！");return false;}
        }
        else
        {
            if($("#productinfo2").val()!=""){alert("请您还有项目未完成，请先完成项目再提交！");return false;}
        }
        if(ntype==1){ $("#type").val('r');}
        form1.action="?action=submit&no=<?php echo $no; ?>";form1.submit();
    }

    function sheet_edit(id)
    {
        form1.action="?action=edit&no=<?php echo $no; ?>&itemid="+id;form1.submit();
    }

    function sheet_del(id)
    {
        form1.action="?action=del&no=<?php echo $no; ?>&itemid="+id;form1.submit();
    }
    function blurcount(){
        $("#num").blur(function(){
            $a = $("#num").val() * $("#price").val();
            $("#count").val('')
            $("#count").val($a)
        });
        $("#price").blur(function(){
            $b = $("#num").val() * $("#price").val();
            $("#count").val('')
            $("#count").val($b)
        });
    }
    $(document).ready(function(){
        //$("#priceterm").addClass("easyui-combobox");
        $('#priceterm').combobox();
        $("#payment").css("width","98%");
        $('#payment').combobox();
        blurcount();
    });
</script>
</body>
</html>