<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Deepsea后台管理系统</title>
	<link rel="stylesheet" href="/style/layui/css/layui.css">
	<link rel="stylesheet" href="/style/main.css">
</head>
<body class="layui-layout-body br_bgbody" >
	<div class="drag">
			<a href="index?brandcode=1">
				<div class="drag_deps drag_deps-2">
					<div>
						<img src="/images/admin/deps.png" alt="">
					</div>
					<div class="deps-f">
						<div class="deps-fo deps-fo-2">内窥镜后台</div>
					</div>
				</div>
			</a>
			<a href="index?brandcode=2">
				<div class="drag_deps drag_deps-1">
					<div>
						<img src="/images/admin/potensic.png" alt="">
					</div>
					<div class="deps-f">
						<div class="deps-fo deps-fo-1">无人机后台</div>
					</div>
				</div>
			</a>
			<a href="index?brandcode=3">
				<div class="drag_deps drag_deps-3">
					<div>
						<img src="/images/admin/dser.png" alt="">
					</div>
					<div class="deps-f">
						<div class="deps-fo deps-fo-3">扫地机器人后台</div>
					</div>
				</div>
			</a>
	</div>
<script src="/style/layui/layui.js"></script>
<script src="/style/jquery.js"></script>
<script src="/style/main.js"></script>
<script>
	//JavaScript代码区域
	layui.use('element', function(){
		var element = layui.element;
	});
</script>
</body>
</html>





