<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo Config('sys_info')['sys_company']; ?> - 外贸管理系统</title>
<script src="/tms/js/all.js" language="javascript"></script>
</head>
<body>
<h1>我的工具</h1>
<div class="mypanel">
    <div class="mypanel-heading">
	    <div class="mypanel-lead"><em>我的工具</em>系统操作员的一些指处理程序</div>
    </div>

    <div class="mypanel-body">
        <table id="mytable" class="mytable">
            <tr>
                <td><a href="/tms/index.php/tms_setting/mytool/changdateformat">转换所有数据库的日期字段</a></td>
            </tr>
            <tr>
                <td><a href="/tms/index.php/tms_setting/mytool/makepetion">自动生成产品Petion</a></td>
            </tr>
            <tr>
                <td><a href="/tms/index.php/tms_setting/mytool/changquotationitem">转换Quotation Item字段</a></td>
            </tr>
            <tr>
                <td><a href="/tms/index.php/tms_setting/mytool/createquotationitemno">建立Quotation Item Allno字段</a></td>
            </tr>
            
        </table>
    </div>
</div>
</body>
</html>